@model List<Shoer.Entity.Shoe.Shoe>
@{
    ViewData["Title"] = "Shoes";

    Layout = "_AdminLayout";
}
<div class="container" style="margin-top: 200px;">
    @if (TempData["Success"] != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success text-center" style="font-weight: bold">
                    @TempData["Success"].ToString()
                </div>
            </div>
        </div>
    }
    <div class="row">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @if (Model.Count <= 0)
            {
                <tr>
                    <td colspan="4">There is no Shoe.</td>
                </tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.ShoeDescription
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td><img style="width: 50px; height: auto;" src="/img/ShoeImages/@item.ImageText"/></td>
                        <td>
                            <a href="/Admin/UpdateShoe/@item.Id">Update</a>

                        </td>
                        <td>
                            <a href="/Admin/RemoveShoe/@item.Id">Remove</a>
                        </td>
                    </tr>
                }

            }
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center">
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <a href="/Admin/AddShoe" class="btn btn-primary text-light">Add New Shoe</a>
            </div>
        </div>
    </div>
</div>