@model int

<ul class="navbar-nav my-2 my-lg-0">
    <li id="myCart" class="nav-item">
        <a class="nav-link" href="/Cart">
            <i style="color:white" class="fa fa-cart-plus"></i>
        </a>
    </li>
</ul>