<div class="jumbotron bg-dark text-light pt-5">
    <div class="container">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">Look at our best sellers below!</p>
        <hr class="my-4">
        <p>Or look at all shoes by clicking 'Shoe List'.</p>
        <p class="lead">
            <a class="btn btn-primary" href="#" role="button">Contact Us</a>
        </p>
    </div>
</div>