<div class="container pb-5" style="margin-top: 100px;">
    <h2>About Us</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p>Emre Kayacık, Eskisehir Technical University Computer Engineering 2th Grade Student. <a style="text-decoration: none" target="_blank" href="https://github.com/emrekayacik"><i class="fab fa-github fa-2x"></i></a></p>
        </div>
        <div class="col-md-6">
            <p>Efekan Aydemir, Eskisehir Technical University Computer Engineering 2th Grade Student. <a style="text-decoration: none" target="_blank" href="https://github.com/zencicaillou"><i class="fab fa-github fa-2x"></i></a></p>
        </div>
    </div>
</div>