<div class="container pb-5" style="margin-top: 100px;">
    <h2>Contact</h2>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <p>Contact us with e-mail by clicking <a href="mailto:emrekayacik@eskisehir.edu.tr">emrekayacik@eskisehir.edu.tr</a></p>
            <p>or</p>
            <p>Contact us with e-mail by clicking <a href="mailto:efekanaydemir@eskisehir.edu.tr">efekanaydemir@eskisehir.edu.tr</a></p>
        </div>
    </div>
</div>