@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Shoer.Entity.Shoe.Shoe
@{
    ViewData["Title"] = "Home Page";
}


@Html.Partial("_Jumbotron")
<div class="container pt-5">
    <h2>the <b style="color: crimson; font-variant: small-caps;">Most Seller</b> of this season </h2>
    <hr/>
    <div class="card mb-3">
        <img class="card-img-top" src="/img/ShoeImages/@Model.ImageText" style="display: block;">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.ShoeDescription</p>
            <a class="btn btn-primary form-control" href="/Shoe/Details/@Model.Id">Go  <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
</div>
