@model List<Shoer.Entity.Brand.Brand>
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var item in Model)
    {
        <p>Numarası: @item.Id | Adı: @item.BrandName</p>
    }
</div>
