@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Shoer.Entity.Shoe.Shoe
@{
    ViewData["Title"] = "Home Page";
}


@Html.Partial("_Jumbotron")
<div class="container pt-5">
    <h2>Welcome </h2>
    <hr/>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="img/ShoeImages/@Model.ImageText" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.ShoeDescription.</p>
            <a href="#" class="btn btn-primary form-control">Git</a>
        </div>
    </div>
</div>
