@model List<Shoer.Entity.Category.Category>


<div class="list-group">
    @foreach (var item in Model)
    {
        <a asp-controller="Shoe" asp-action="Category" asp-route-id="@item.Id" 
           class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == item.Id.ToString()+"category" ?"active":"")">
            @item.CategoryName
        </a>
    }
</div>