@model List<Shoer.Entity.Shoe.Shoe>

@await Component.InvokeAsync("CategorySection")

<div class="container pt-5">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mt-5" style="width: 18rem;">
                    <img width="360px;" class="card-img-top" src="/img/ShoeImages/@item.ImageText" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">
                            @if (item.ShoeDescription.Length > 43)
                            {
                                @item.ShoeDescription.Substring(0, 40)<span>...</span>
                            }
                            else
                            {
                                @item.ShoeDescription
                            }
                        </p>
                        <div class="d-flex bd-highlight justify-content-center">
                            <a href="/Shoe/Details/@item.Id" class="btn btn-primary p-2 flex-fill bd-highlight mr-1">Git <i class="fas fa-chevron-right"></i></a>
                            <a href="/Cart/Add/@item.Id" class="btn btn-primary p-2 flex-fill bd-highlight ml-1">Sepete Ekle <i class="fas fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
