<ul class="navbar-nav my-2 my-lg-0">
    
 
    <li class="nav-item active">
        <a class="nav-link" href="/Account">emre aydemir</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/Account/Logout">Logout</a>
    </li>   

    <li class="nav-item active">
        <a class="nav-link" href="/Account/Login">Login<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/Account/Register">Register<span class="sr-only">(current)</span></a>
    </li>

</ul>